{% extends 'base.html' %}

{% block title %}Upload - Leaf Doctor{% endblock %}

{% block content %}
<form method="POST" action="/upload" enctype="multipart/form-data" id="uploadForm">
    <input type="file" name="file" accept=".jpg, .jpeg, .png" required id="fileInput">
    <div id="dropZone">
        Drop image here or click to upload
    </div>
    <button type="submit" id="submitBtn">Upload</button>
</form>
<div class="loader-container">
    <div class="loader"></div>
    <p>Đang xử lý dữ liệu...</p>
</div>
{% endblock %}
