:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

html, body {
  font-family: Montserrat, var(--default-font-family);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 95vw;
  margin: 0 auto;
  padding-top: 10vh;
  background: #ffffff;
  overflow: hidden;
}

.nav {
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 230px;
  height: 107px;
  cursor: pointer;
}

.converted-2 {
  width: 100px;
  height: 15vh;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain; /* Hoặc cover tùy theo yêu cầu */
  z-index: 1;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
}

.leaf-doctor-3 {
  width: 10vw;
  color: #4d822b;
  font-family: Montserrat, var(--default-font-family);
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.8vw;
  text-align: left;
  z-index: 2;
}
.main-frame {
  position: relative;
  width: 95vw;
  /* height: 1552px; */
  z-index: 6;
  overflow: hidden;
}
.frame-4 {
  position: relative;
  width: 95vw;
  height: 35vw;
  margin: 2px 0 0 0;
  z-index: 7;
  overflow: hidden;
}
.frame-5 {
  position: relative;
  display: flex;
  justify-content: center;
  height:100%;
  flex-direction: column;
  margin:auto;
  margin-left: 50vw;
  font-size: 0px;
  z-index: 10;
  overflow: hidden;
}
.leaf-detection {
  position: relative;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 4.3vw;
  text-align: left;
  z-index: 13;
}
.button {
  position: relative;
  width: 40vw;
  height: 20%;
  margin-top: 1vw;
  cursor: pointer;
  font-size: 0px;
  border: none;
  z-index: 14;
  overflow: visible auto;
  transition: color 0.3s ease; /* Thêm hiệu ứng chuyển đổi màu */
  top: 0;
  left: 0;
  background: #569230;
  z-index: 15;
  border-radius: 5000px;
}
.button:hover {
  background: #3e6823; /* Thay đổi màu chữ khi trỏ chuột vào nút */
}
.start-process {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 3vw;
  font-weight: 400;
  line-height: 4.2px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.button:hover .start-process {
  color: #c2c0c0; /* Màu chữ khi trỏ chuột vào text trong nút */
}
.do-an {
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 4vw;
  font-weight: 400;
  line-height: 5.2vw;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.cs338 {
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 7vw;
  font-weight: 700;
  line-height: 8.2vw;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.chu-nong-dan {
  position: absolute;
  width: 95vw;
  height: 35vw;
  top: 0;
  background: url("../images/chunongdan.png") no-repeat center;
  background-size: cover;
  z-index: 8;
}
.rectangle-6 {
  position: absolute;
  width: 95vw;
  height: 35vw;
  top: 0;
  background: url("../images/gradient.png") no-repeat center;
  background-size: cover;
  z-index: 9;
}
.frame-7 {
  position: relative;
  width: 100%;
  height: 10vw;
  margin: 0 0 0 0;
  z-index: 17;
  overflow: hidden;
}
.read-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 18;
}

.read-more-8 {
  top: 0;
  left: 15.24%;
  color: #4d822b;
  font-family: Montserrat, var(--default-font-family);
  font-size: 3vw;
  font-weight: 300;
  line-height: 4vw;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}

.read-more-8:hover {
  color: #6bb43d; /* Màu mới khi di chuột, ví dụ: màu cam */
  cursor: pointer; /* Thay đổi con trỏ chuột thành dạng pointer khi hover */
}

.vector {
  width: 4vw;
  height: 3vw;
  background: url("../images/readmore.png") no-repeat center;
  background-size: 100% 100%;
  padding: auto;
  margin-left: 1vw;
  z-index: 20;
}
.frame-9 {
  position: relative;
  width: 95vw;
  margin: 0 5vw;
  padding-bottom: 4vw;
  z-index: 21;
  overflow: hidden;
}
.about {
  position: relative;
  width: 100%;
  margin: 25px 0 5vw 0;
  z-index: 22;
  overflow: visible auto;
}
.rectangle-a {
  position: relative;
  width: 171px;
  height: 33px;
  background: #4d822b;
  z-index: 24;
}
.about-b {
  display: flex;
  align-items: flex-start;
  position: relative;
  color: #4d822b;
  font-family: Montserrat, var(--default-font-family);
  font-size: 7vw;
  font-weight: 800;
  line-height: 8vw;
  text-align: center;
  white-space: nowrap;
  z-index: 23;
}
.frame-c {
  position: relative;
  width: 85vw;
  height: 22vw;
  background: url("../images/vanban.png") no-repeat center;
  background-size: cover;
  z-index: 25;
}

/* Định dạng drop zone */
#dropZone {
  width: 100%; /* Chiều rộng 80% của container */
  max-width: 80vw;
  height: 70vh;
  border: 2px solid #4d822b;
  text-align: center;
  line-height: 200px;
  transition: background-color 0.2s ease;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px; /* Bo góc với bán kính 15px */
  /* Chỉnh sửa kiểu chữ */
  font-family: Montserrat, var(--default-font-family); /* Kiểu chữ */
  font-size: 15px; /* Cỡ chữ */
  color: #4d822b; /* Màu chữ */
  text-transform: uppercase; /* Chữ in hoa */
  letter-spacing: 1px; /* Khoảng cách giữa các chữ */
  cursor: pointer;
}

/* Định dạng drop zone khi có file kéo vào */
#dropZone.dragover {
  background-color: #4d822b;
}

/* Ẩn input file */
#fileInput {
  display: none;
}

/* Ẩn nút submit */
#submitBtn {
  display: none;
}

/* style.css */

/* Định dạng container chứa hình ảnh và thông tin */
.result-container {
  width: 100%; /* Chiều rộng 80% của container */
  max-width: 1000px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;     /* Căn giữa theo chiều dọc */
  gap: 50px;  
  margin: 0 auto;             /* Khoảng cách giữa hai khung */
  margin-top: 20px;
}

/* Định dạng khung hình ảnh */
.image-box {
  width: 500px;           /* Chiều rộng cố định của khung */
  height: 400px;          /* Chiều cao cố định của khung */
  display: flex;          /* Sử dụng flexbox để căn giữa hình ảnh */
  justify-content: center;/* Căn giữa hình ảnh theo chiều ngang */
  align-items: center;    /* Căn giữa hình ảnh theo chiều dọc */
  overflow: hidden;       /* Ẩn phần ảnh vượt ra ngoài khung */
  border-radius: 10px;    /* Bo góc khung */
  border: 2px solid #4d822b; /* Đường viền của khung ảnh */
  background-color: #ffffff; /* Màu nền cho khung (tùy chọn) */
  cursor: pointer;
}

/* Định dạng ảnh bên trong khung */
.image-box img {
  max-width: 100%;        /* Đảm bảo chiều rộng không vượt quá khung */
  max-height: 100%;       /* Đảm bảo chiều cao không vượt quá khung */
  object-fit: contain;    /* Giữ tỷ lệ ảnh, không bị méo mó */
  border-radius: 10px;    /* Bo góc ảnh (phù hợp với khung) */
}

/* Định dạng khung thông tin */
.info-box {
  flex: 1;
  text-align: left;       /* Căn trái cho tên file */
  font-family: Montserrat, var(--default-font-family);/* Kiểu chữ */
  font-size: 18px;        /* Cỡ chữ */
  color: #4d822b;            /* Màu chữ */
}

.info-box .filename {
  font-weight: bold;      /* Đậm chữ cho tên file */
  color: #000;            /* Màu đậm hơn cho tên file */
  margin-top: 10px;
}

.loader-container {
  display:flex; 
  justify-content:center;
  align-items:center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #4d822b;; /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  align-items: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Custom Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
